.fixed-extension-item{
    display: flex;
    flex-direction: row;
}
.select-left{
    float: left;
    padding-right: 40px;
}
input[type=text]{
    border-radius: 5px;
}
button{
    border-radius: 5px;
    background-color: gray;
    color: white;
}
#expose-extension{
    overflow-scrolling: auto;
    margin-left: 140px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right:50px;
    border-style: groove;
    border-color: black;
    border-radius: 5px;
    width: 200px;
    height: 200px;
}

.btn_close {
    display:inline-block;
    width:auto;
    height:auto;
    cursor:pointer;
}
